@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

body {
  background-color: #f6f8fc;
}

.pills {
  display: flex;
  margin-top: 16px;
}

.pills .pill {
  border-radius: 25px;
  padding: 0.25rem 1rem;
  background: #F0F0F0;
  color: #000000;
  font-size: 11px;
}

.logo {
  /* border: 1px solid #d3d3d3; */
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  /* padding: 0.25rem; */
}

.logo img {
  width: 50px;
  /* height: 50px; */
  border-radius: 4px;
}
